<!-- <h1>{{name}}</h1>
<h2>Employee Lists</h2>
<ul *ngFor = "let employee of employees">
    <li>{{employee.name}}</li>
</ul>
<app-test (childEvent)="item=$event" [parentData] = "name" ></app-test> -->

<!-- <div class="app">
    <header style='text-align: center;'>
        <h1>Todo List</h1>
    </header>
<app-todos></app-todos> -->

<!-- <div style='text-align: center;'>
    <h1>
        Routing and Navigation
    </h1>
</div>
<nav style="padding: 50px;">
    <a routerLink= '/departments' style="padding: 10px;">Departments</a>
    <a routerLink= '/customers' >Customers</a>

</nav>
<router-outlet></router-outlet> -->

<div>
    <nav style="padding: 50px;">
        <a  routerLink= '/registration' style="padding: 10px;">Registration</a>
        <a routerLink= '/login'>Login</a>

    </nav>
</div>
<router-outlet></router-outlet>

<!-- <app-registration></app-registration>
<app-login></app-login> -->
<!-- <app-form></app-form> -->
