<div>
    <h1>User Registration</h1>
    <form #login="ngForm" (ngSubmit) = "submit(login)">
        
        <div class="form-group">
            <label for = "firstName">First Name</label><br>
            <input #name= "ngModel" required minlength="2" maxlength="7" ngModel type="text" name="firstName" class="form-control">
            <div *ngIf = "name.touched && name.invalid" class= "alert-danger">
            <p *ngIf = "name.errors.required" class= "alert alert-danger">FirstName Required!</p>
            <p *ngIf = "name.errors.minlength" class= "alert alert-danger">sorry! short firstName</p>
        </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for = "lastName">Last Name</label><br>
            <input ngModel type="text" name="lastName" class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for = "email">Email</label><br>
            <input ngModel type="text" name="email" class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for = "password">Password</label><br>
            <input ngModel type="text" name="password" class="form-control">
        </div>
        <pre></pre>
        <button class="=btn btn-primary" type="submit" >Submit</button>
    </form>
</div>
