<div >
<div class="container"> 
<div class="row registrationRow">
 <div class="col-lg-8 col-md-6 registrationCol">
    <!-- <div class="container" style="background-color: yellow;" >--> 

    <div class="card">

        <div class="card-body cardBody">
          <h1 class="cardText">Admin Registration</h1>
        </div>

        <form class="registrationForm">
            <div class="row">

             <div class="col-lg-6">
                
            <div class="form-group">
                <label for = "firstName" class='registrationLabel'>First Name</label>
                <input #name= "ngModel" minlength="2" ngModel required type="text"placeholder="Enter Your First Name" name="firstName" [(ngModel)] = "firstName" class="form-control registrationInput">      
             </div>

            </div>

             <div class="col-lg-6">

             <div class="form-group">
                <label for = "lastName" class='registrationLabel'>Last Name</label>
                <input #name= "ngModel" minlength="2" ngModel required type="text"placeholder="Enter Your Last Name" name="lastName" [(ngModel)] = "lastName" class="form-control registrationInput">      
             </div>
            
            </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for = "userName" class='registrationLabel'>User Name</label>
                        <input #name= "ngModel" minlength="2" ngModel required type="text"placeholder="Enter Your User Name" name="userName" [(ngModel)] = "userName" class="form-control registrationInput">      
                     </div>
                    </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="email" class="registrationLabel" >Email address</label>
                        <input #name= "ngModel" minlength="2" ngModel required type="email"placeholder="Enter Your email" name="email" [(ngModel)] = "email" class="form-control registrationInput">      
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="role" class='registrationLabel'>Role</label>
                        <input #name= "ngModel" minlength="2" ngModel required type="text"placeholder="Enter Your Role" name="role" [(ngModel)] = "role" class="form-control registrationInput">      
                    </div>
                    </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="password" class='registrationLabel'>Password</label>
                        <input #name= "ngModel" minlength="2"  ngModel required type="password" placeholder="Enter Your Password" name="role" [(ngModel)] = "password" class="form-control registrationInput">      
                    </div>
                </div>
            </div>                   
            
            <div class="buttonContainer">
              <button class="btn btn-primary" type="submit" (click)=onSubmit() >Register</button>
            </div> 
            
        </form>
      </div>
    </div>
 </div>

</div>

    
    
        <!-- <div class="form-group">
            <label for = "firstName">First Name</label><br>
            <input #name= "ngModel" minlength="2" maxlength="7" ngModel required type="text" name="firstName" [(ngModel)] = "firstName" class="form-control">       </div>
        <pre></pre> -->
      
        <!-- <div class="form-group">
            <label for = "lastName">Last Name</label><br>
            <input ngModel required type="text" name="lastName" [(ngModel)] = "lastName" class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for = "userName">User Name</label><br>
            <input ngModel required type="text" name="userName"  [(ngModel)] = "userName" class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for = "email">Email</label><br>
            <input ngModel required type="email" name="email"  [(ngModel)] = "email"  class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for = "password">Password</label><br>
            <input ngModel required type="password" name="password" [(ngModel)] = "password" class="form-control">
        </div>
        <pre></pre> -->
        
</div>